*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: inherit;
}

header a:hover{
    border-bottom: 3px solid ;
    color: rgb(132, 66, 238);
}

header a{
    font-size: 1.8rem;
}

main{
    display: flex;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(./img/background-img.png);
    padding: 100px 0px 37px 100px ;
    margin-right: 50px;
}

main .sinopse p{
    font-style: inherit;
    font-size: 1.8rem;
    width: 700px;
    height: 100px;
}

main .social-conteiner{
    color: rgb(0, 0, 0);
    gap: 42px;
    font-size: 42px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-style: italic;
}

@media (max-width:768px){

header {
    background-image: url(./img/titulo-principal.png);
    background-repeat: no-repeat;
    padding: 20px 20px 20px 20px ;
}

header a{
    display: none;
}

header img{
    display: none;
}

main img{
    display: none;
    }

.titulo-sinopse{
    display: none;
    
    }

.sinopse p{
    display: none;
    }

footer{
    display: none;
}
main{
    background-size:cover ;
    border-radius: 50px;
    justify-content: center;
}

main :not(.sinopse p){
    display: none;
        }
    
.footer{
        display: none;
    }
}