*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: inherit;
}

header a:hover{
    border-bottom: 3px solid ;
    color: rgb(132, 66, 238);
}

header a{
    font-size: 1.8rem;
}

main{
    display: flex;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(./img/background-img.png);
    padding: 100px 0px 37px 100px ;
    margin-right: 50px;
}

.sinopse p{
    font-style: inherit;
    font-size: 1.8rem;
    width: 700px;
}

.social-conteiner{
    color: rgb(0, 0, 0);
    gap: 42px;
    font-size: 42px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-style: italic;
}