
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: inherit;
}

header a:hover{
    border-bottom: 3px solid ;
    color: rgb(132, 66, 238);
}

header a{
    font-size: 1.8rem;
}

main{
    display: flex;
    flex-direction: row-reverse;
    gap: 730px;
    padding: 100px 0px 37px 100px ;
}

.sinopse {
    font-style: inherit;
    font-size: 1.8rem;
    width: 700px;
}

.imagem-fundo{
    position: absolute;
    right: 0;
    top: 170px;
    z-index: -1;
}

.trailers{
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding:250px 67px 0 0  ;
}

.social-conteiner{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 100px 100px;
    width: 50px;
    font-size: 50px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 48%;
    color: rgb(0, 0, 0);
    height: 20px;
    font-size: 15px;
    font-style: italic;
    z-index: 1;
}
