
@media (max-width:375px) {
    body{
            background-image: url();
        }
    header a{
        display: none;
    }
    .texto{
        display: none;
    }
    .social-conteiner{
        display: block;
        display: flex;
        gap: 35px;
        background-color: #fff;
    }
}