
@media (max-width:375px) {
    body{
            background-image: url(../img/d43c954290467e658283104a5b2cca1c\ 1.svg);
            background-position: center;
            background-size: cover;
    } 
    header a{
        display: none ;
    }
    header {
        background-image: url(../img/John-Wick-Transparent-Image\ 2.png);
        background-position: center; 
        height: 180px;
    }
    header i.fa-bars{
        display: block;
        margin-top: 230px;
        margin-right: 300px;
        }
    
    header.menu i.fa-bars{
        display: none;
        }
    
    header.menu i.fa-bars + .fa-times{
        display: block;
        }

    header .menu .overlay{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, rgba(166,31,210,1) 0%, rgba(34,255,254,1) 100%);
        z-index: -1;
        transform: translateX(0%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    header .overlay a{
        color: #FFF;
        display: block;
        font-size: 2rem;
    }
    header .menu i.fa-bars ~ .overlay{
        transform: translateX(100%);
    }    
    .texto{
        display: none;
    }

    .sinopse a{
        margin-top: 60px;
        margin-right: 33px;
        display: flex;
        align-items:center ;
        justify-content: center;
        font-size: 1.4rem;
        color: #FFF;
        border-radius: 50px;
        border:6px solid #22FFFE ;
        background-color: #D022ff;
        display: block;
        outline: none;
        width: 250px;
        height: 65px;
    }
    main .assista {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-conteiner{
        font-size: 40px;
        padding: 0px;
        display: block;
        display: flex ;
        position: absolute;
        bottom: 5%;
        left: 23%;
    }
}