
@media (max-width:768px){

header {
    background-image: url(../img/img-titulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header img{
    display: none;
}

header a{
    padding-top: 200px ;
}

header a:hover{
    display: none;
}

.trailers img{
    width: 269px;
    height: 151px ;
    
}

.sinopse p{
    text-align: center;
    with: 33px;
}

.sinopse-linha{
    display: none;
}

.social-conteiner{
    display: none;


footer{
    display: none;
}
}