
@media (max-width:768px){

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/background-img\ tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 0;
    margin: 0;
}

header {
    background-image: url(../img/img-titulo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  25% 75%; ;
    height: 226px;
}

header img {
    display: none;
}

header a{
    padding-top: 280px ;
    color: black;
    font-weight : 800;
    font-size: 35px;
}

.imagem-fundo{
    display: none;
}
main {
    display: none;
}

.trailers{
    left: 0;

}
.trailers img{
    width: 269px;
    height: 151px ;
}

.sinopse img{
    display: none;
}

.sinopse p{
    padding: 0;
    text-align: center;
    width: 333px;
    font-size: 26px;
    font-weight: 300px;
}

.sinopse-linha{
    display: none;
}

.social-conteiner{
    display: none;

}
}