
@media (max-width:768px){

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/background-img\ tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 0;
    margin: 0;
}

.imagem-fundo{
    display: none;
}

header {
    background-image: url(../img/img-titulo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  25% 75%; ;
    height: 226px;
}

header img {
    display: none;
}

header a{
    padding-top: 280px ;
    color: black;
    font-weight : 800;
    font-size: 35px;
}

main {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 150px;
    padding-right: 30px;
}

.sinopse img{
    display: none;
}

.sinopse-linha{
    display: none;
}

.texto{
    display: flex;
    font-weight : 800;
    font-size: 30px;
    text-align: center;
    width: 340px;
}

.trailers{
    margin-right: 400px;
    margin-top: 180px;
}

.trailers img{
    width: 269px;
    height: 151px ;
}

.social-conteiner{
    display: none;

}
}